@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url(burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    overflow: hidden;
}

main, article {
    min-height: 100vh;
    min-width: 100vh;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    height: 600px;
    width: 1200px;
    border-radius: 20px;
}


.card-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    margin-left: 130px;
    margin-top: 60px;
    /* border-left: 5px solid white; */
}

.desc-container {
    display: flex;
}

.card-container h1 {
    font-family: 'Pacifico';
    font-style: italic;
    font-size: 40px;
    color: rgb(239, 239, 239);
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.straight-line {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 20px;
    margin-top: 60px;
    margin-right: 20px;
}

.straight-line div {
    border-left: 10px solid white;
    border-right: 10px solid white;
    height: 170px;
    border-radius: 20px;
}

/* .caption {
    border-left: 200px solid white;
    border-radius: 20px;
} */

.card-container p {
    font-size: 90px;
    width: 420px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

/* header {
    display: flex;
    max-height: 20%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 130px;
    margin-top: 30px;
} */

/* .card-header h1{
    font-family: 'Pacifico';
    font-style: italic;
    font-size: 30px;
    color: rgb(239, 239, 239);
    letter-spacing: 2px;
}

.card-caption h1{
    font-size: 60px;
    
} */