@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.cabin-regular {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.bg-image {
    display: flex;
    background-image: url(burger.jpg);
    background-size: cover;
    background-position: 0 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    /*KIV for responsive purpose*/
    height: 650px;
    width: 1200px;
    border-radius: 25px;
}

/*Descriptions*/
.description-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-top: 3%;
}

.header {
    width: 100%;
}

#fastFood {
    letter-spacing: 0.1rem;
    font-family: 'Pacifico';
    margin-left: 2%;
    font-size: 2.1rem;
}

.captions {
    display: flex;
    min-height: auto;
    width: 100%;
}

.straight-line {
    border-left: 10px solid white;
    border-right: 10px solid white;
    height: 12.7rem; /*cannot use % because parent is min-height, growing*/
    border-radius: 0.5rem;
    margin-top: 1.5%;
}

.caption-text {
    margin-left: 4%;
    width: 100%;
}

#amazingBurger {
    margin: 0;
    font-family: 'Cabin';
    font-size: 5rem;
    line-height: 100%;
    letter-spacing: 0.1rem;
}

#lowPrice {
    font-family: 'Cabin';
    color: white;
    font-size: 2.5rem;
    margin: 0;
    margin-top: 2%;
}

#takeaway {
    font-family: 'Cabin';
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
    width: 72%;
}

/*Image*/
.image-side {
    width: 50%;
}